<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @library_member.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @library_member.name %>
</p>

<p>
  <strong>Encrypted password:</strong>
  <%= @library_member.encrypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @library_member.salt %>
</p>

<%= link_to 'Edit', edit_library_member_path(@library_member) %> |
<%= link_to 'Back', library_members_path %>
