<div class="text-center">
  <h1>View by Category or Language</h1>
</div>
<hr />

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default left">
  <div class="panel-heading">
    <h3 class="panel-title">Categories</h3>
  </div>
<ul class="list-group">
  <li class="list-group-item"><%= link_to 'All', :action=>"filters", :controller => "books", :filter => ""  %></li>
  <li class="list-group-item"><%= link_to 'Biographies', :action=>"filters", :controller => "books", :filter => "biographies" %></li>
  <li class="list-group-item"><%= link_to 'Business', :action=>"filters", :controller => "books", :filter => "business" %></li>
  <li class="list-group-item"><%= link_to 'Classic Literature', :action=>"filters", :controller => "books", :filter => "fiction", :action=>"filters", :controller => "books", :filter => "classic literature" %></li>
  <li class="list-group-item"><%= link_to 'Fiction', :action=>"filters", :controller => "books", :filter => "fiction"  %></li>
  <li class="list-group-item"><%= link_to 'Nonfiction', :action=>"filters", :controller => "books", :filter => "nonfiction" %></li>
</ul>
  <div class="panel-heading">
    <h3 class="panel-title">Languages</h3>
  </div>
    <ul class="list-group">
    <li class="list-group-item"><%= link_to 'English', :action=>"filters", :controller => "books", :filter => "english"  %></li>
  <li class="list-group-item"><%= link_to 'Russian', :action=>"filters", :controller => "books", :filter => "fiction", :action=>"filters", :controller => "books", :filter => "russian" %></li>
    <li class="list-group-item"><%= link_to 'Spanish', :action=>"filters", :controller => "books", :filter => "spanish" %></li>
  </ul>
</div>
  </div>
  <div class="col-md-8">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.genre %></td>
        <td><%= book.language %></td>
        <td><%= link_to 'View', book_path(book.isbn), :class => 'btn btn-default' %></td>

        <% @student = Student.find_by_id(session[:current_student_id]) %>
        <% if book.available == true %>
        <td>  <%= link_to 'Checkout', book, method: :post, data: { confirm: 'Are you sure you would like to checkout this book?' }, :class => 'btn btn-primary' %></td>
            <% end %>
        <% if book.available == false %>
            <% @checkout_history = CheckoutHistory.find_by(isbn: book.isbn) %>
            <% if !signed_in? %>
            <td> Not Available </td>
             
                    <% elsif (@checkout_history.email == @student.email || @student.student_type=='P' || @student.student_type=='A') %>

            <td>  <%= link_to 'Return', book, method: :post, data: { confirm: 'Are you sure you would like to return this book?'}, :class => 'btn btn-primary' %></td>
               
            <% end %>
            <% end %>


    <% end %>
  </tbody>
</table>
</div>
</div>
