<p id="notice"><%= notice %></p>

<h1>Listing Checkout Histories</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Isbn</th>
      <th>Title</th>
      <th>Checkout timestamp</th>
      <th>Due Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <% @student=Student.find_by_id(session[:current_student_id]) %>
  <tbody>
    <% @checkout_histories.each do |checkout_history| %>
      <tr>

        <%if(checkout_history.email==@student.email || @student.student_type=='A' || @student.student_type=='P')%>
        <td><%= checkout_history.email %></td>
        <td><%= checkout_history.isbn %></td>
            <%@book=Book.find_by_isbn(checkout_history.isbn)%>
            <td><%= @book.title %></td>
        <td><%= checkout_history.checkout_timestamp %></td>
        <td><%= checkout_history.due_date %></td>
        <td><%= link_to 'Show', checkout_history %></td>
        <%end%>

        <%if(@student.student_type=='A' || @student.student_type=='P')%>
            <td><%= link_to 'Edit', edit_checkout_history_path(checkout_history) %></td>
            <td><%= link_to 'Destroy', checkout_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if(@student.student_type=='A' || @student.student_type=='P')%>
<%= link_to 'New Checkout history', new_checkout_history_path %>
<%end%>

