<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @checkout_history.email %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @checkout_history.isbn %>
</p>

<p>
  <strong>Checkout timestamp:</strong>
  <%= @checkout_history.checkout_timestamp %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @checkout_history.due_date %>
</p>


<%= link_to 'Back', admin_home_path %>
