<!DOCTYPE html>
<html>
<head>
  <title>Swe Library System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
    
<%= render 'layouts/header' %>

<div class="container">

  <% if !current_page?(login_path) && !session[:current_student_id].nil? %>
      <% if ['A','P'].include?(Student.find_by_id(session[:current_student_id]).student_type) %>
          <%= link_to 'Manage Account', admin_home_path %>
      <% else %>
          <%= link_to 'My Account', student_home_path %>
      <%end%>
      <%= link_to 'Signout', logout_path %>
  <%end%>

  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  <%= yield %>

  <%= render 'layouts/footer' %>

</div>


</body>

</html>
